* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 16px;
    font-family: "Lato", sans-serif;
}
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
@import "components/_vars.scss";
@import "components/touchSlider.scss";
@import "components/_navbar.scss";
@import "components/_footer.scss";
@import "components/_item.scss";
@import "components/_cart.scss";
@import "components/_category.scss";

// @import "components/_secondbar.scss";
// @import "components/_promotions.scss";
@import "../node_modules/bulma/bulma.sass";
@import "components/_reset.scss";
a {
    color: $grey;
}
.second-bar {
    width: 100%;
}

.search {
    width: auto;
    flex-grow: 1;
    // margin-right: auto;
}
.card-content__title {
    color: #000;
    height: 50px;
    overflow: hidden;
}
.price {
    bottom: 0;
}
.card-image {
    height: 220px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img {
    max-height: 80%;
    max-width: 80%;
    margin: auto;
}
.card {
    transition: box-shadow ease-in 0.2s;
    border-radius: 1px;
}
.card:hover {
    box-shadow: 0.01em 0.01em 5em 0em rgba(110, 110, 110, 0.157);
    cursor: pointer;
}
.brands {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}
.advantages {
    min-height: 100px;
}
.advantages .container {
    height: 100%;
}
.advantages-block {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 260px;
    margin: 1em 0;
}
.advantages i {
    color: rgb(148, 148, 148);
    margin-right: 0.5em;
    font-size: 3.5rem;
}

@media (max-width: 1220px) {
    .advantages-block {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 420px;
        margin: 1em 0;
    }
    .advantages h4 {
        margin-right: 100px;
        margin-left: auto;
        display: block;
        width: 150px;
    }
}
@media (max-width: 860px) {
    .advantages-block {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 320px;
        margin: 1em 0;
    }
    .advantages h4 {
        margin-right: 20px;
    }
}
.subscription {
    background-color: #8c9beb;
    height: 135px;
}
.subscription-form {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
}
.subscription-form form {
    width: 100%;
}
.subscription-form input {
    max-width: 100%;
}
.subscription-block {
    position: relative;
    width: 50%;
}
.subscription-block img {
    position: absolute;
    object-fit: contain;
    margin-left: 1em;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}
.subscription-form__text p {
    color: white;
    font-size: 0.8rem;
}
