.top-promotions {
    height: 300px;
}
.bottom-promotions {
    height: 150px;
    border-radius: 5px;
}
.bottom-promotions .slider-container__main {
    border-radius: 5px;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slider-container__main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slider {
    position: relative;
    display: flex;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}
.slide {
    position: relative;
    flex-shrink: 0;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
.slide h2 {
    top: 10%;
    left: 10%;
    color: #fff;
    position: absolute;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.slide h4 {
    top: 30%;
    left: 10%;
    color: #fff;
    position: absolute;
    font-size: 1.3rem;
}
.btn {
    position: absolute;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.5rem;
    bottom: 20%;
    left: 10%;
}
.grabbing {
    cursor: grabbing;
}
.grabbing .slide img {
    transform: scale(0.9);
}
.dot-container {
    position: absolute;
    height: 30px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dot {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.3;
    cursor: pointer;
}
.dot-active {
    opacity: 0.7 !important;
}
.arrow-left__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
}
.arrow-right__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-top: 6px solid #ffffff;
    border-right: 6px solid #ffffff;
    border-radius: 6px;
    transform: translate(-50%, -50%) rotate(-135deg);
    opacity: 0.7;
}
.arrow-left__container:hover {
    cursor: pointer;
}
.arrow-left__container:hover .arrow-left {
    opacity: 1;
}
.arrow-right__container:hover {
    cursor: pointer;
}
.arrow-right__container:hover .arrow-right {
    opacity: 1;
}

.arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-top: 6px solid #ffffff;
    border-right: 6px solid #ffffff;
    border-radius: 6px;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.7;
}
