.accordion-group{
    position: relative;
}
.accordion {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease-in-out;

}
.accordion-item{

    height: 212px;
    overflow: hidden;
    transition: height 0.5s linear;
}

.accordion-price{
    height: 50px;
    overflow: hidden;
    transition: height 0.5s linear;
}
.show-more {
    display: block;
    width: 100%;
    height: 20px;
    cursor: pointer;
    text-align: center;
    color: $primary;
    font-size: .8rem;
    &:hover{
        color: darken($primary,20);
    }
}

.absolute-button{
    display: block;
    position: absolute!important;
    right:0%;
    top:50%;
    z-index: 3;
    color: white!important;
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: -7%;
        position: absolute;
        border-right: 10px solid $primary;
    }
}
.input_count{
    margin-bottom: -2px;
    font-size: .6rem;
}
.collapse {
    max-height: 0;
}
.category-filter {
    flex-basis: 20%;
}
.category-list {
    flex-basis: 75%;
}
.category-list__item {
    min-height: 300px;
}
.category-list__item-image {
    flex-basis: 35%;
    height: 250px;
    width: 250px;
}
.category-list__item-image img {
    width: 90%;
    height: 90%;
    margin: auto;
    object-fit: contain;
}
.category-list__item-props {
    flex-basis: 35%;
}
.category-list__item-price {
    flex-basis: 30%;
}
.category-list__item-props-review {
    font-size: 0.8rem;
}
.category-filter__total {
    height: 40px;
    margin-top: .7rem;
}
.category-filter > div {
    width: 100%;
}
.category-filter__title {
    width: 100%;
    cursor: pointer;

}
.category-filter__title h4 {
    font-weight: 700;
    font-size: 0.9rem;
}


.category-filter__arrow {

/* Абсолютное позиционирование */
    margin-bottom: -2px;
    width: 15px;
    height: 15px;
 /* Положение треугольника */
    border: 7px solid transparent; /* Прозрачные границы */
    border-top: 7px solid #f26419; /* Добавляем треугольник */
    border-radius: 2px;
    transition: transform .5s ease-in-out

}

.reverse{
    transform: rotateZ(-180deg)  translateY(7px) ;
}
.category-filter__price-input {
    width: 100%;
}
.price-input__from,
.price-input__to {
    width: 45%;
    border: 1px solid rgb(219, 219, 219);
}
.category-filter__price-input input {
    border: none !important;
    width: 100%;
}
.category-filter__price-input input:focus {
    border: none !important;
    outline: none;
}
.category-filter__price-input label {
    font-size: 0.8rem;
}
.checkbox {
    display: flex !important;
    align-items: center;
    margin-top: 0.6rem;
    font-size: 0.7rem;
    color: $grey;
}
.checkbox input {
    margin-right: 0.6rem;
}
.checkbox:hover {
    color: $info !important;
    .checkbox input {
        border: 1px solid $info;
        outline: none;
    }
}
.pagination-container{
    width: 80%;
    margin: 0 auto;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 15px;
    height: 15px;
    transform: translateY(2px);

}


.arrow-down {

    transform: translateY(2px) rotateX(180deg) ;
}
.pagination-link.is-current{
    background-color: $primary!important;
    border-color: $primary!important;
}
.favorites-list{
    margin-top: 2rem;
}
