.pagefooter-top nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.pagefooter-top li {
    margin-bottom: 12px;
    font-size: 0.9rem;
}
.pagefooter-top h2 {
    margin-bottom: 12px;
    font-size: 1.2rem;
}
