.breadcrumb  a {
    color: $grey-light!important;
    font-size: .8rem;
    &:hover{
        color:$grey!important;
    }
}
.label {
    color: $grey;
    font-weight: normal;
}

.tabs .is-active a {
    color: $primary !important;
    border-bottom-color: $primary !important;
}
.field{
    width: 100%;
}
input:focus {
    border: 1px solid $success !important;
    box-shadow: 0 0 0 0.125em rgb(229, 205, 18, .4) !important;
}

.button, .tag {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.light-link {
    color: $grey-light!important;
    &:hover{
        color:$grey!important;
    }
}
a{
    color: $grey;


}
.logo{
  display: block;
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
}
.logo img{
  max-width: 100px!important;
  border-radius: 10px;
}
.button .is-primary{
    color:$primary!important;
}


.in-cart-button {
    background-color: $success!important;
    color: $black!important;

}
.is-size-8 {
    font-size: .8rem;
}

.second-bar {
    width: 100%;
}

.search {
    width: auto;
    flex-grow: 1;
    // margin-right: auto;
}

.card-content__title {
    color: #000;
    height: 50px;
    overflow: hidden;
}

.price {
    bottom: 0;
}

.card-image {
    height: 220px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    max-height: 80%;
    max-width: 80%;
    margin: auto;
}

.card {
    transition: box-shadow ease-in 0.2s;
    border-radius: 1px;
}

.card:hover {
    box-shadow: 0.01em 0.01em 5em 0em rgba(110, 110, 110, 0.157);
    cursor: pointer;
}

.brands {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.advantages {
    min-height: 100px;
}

.advantages .container {
    height: 100%;
}

.advantages-block {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 260px;
    margin: 1em 0;
}

.advantages i {
    color: rgb(148, 148, 148);
    margin-right: 0.5em;
    font-size: 3.5rem;
}

@media (max-width: 1220px) {
    .advantages-block {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 420px;
        margin: 1em 0;
    }
    .advantages h4 {
        margin-right: 100px;
        margin-left: auto;
        display: block;
        width: 150px;
    }
}
@media (max-width: 860px) {
    .advantages-block {
        height: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 320px;
        margin: 1em 0;
    }
    .advantages h4 {
        margin-right: 20px;
    }
}

.subscription {
    background-color: #8c9beb;
    height: 135px;
}

.subscription-form {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
}

.subscription-form form {
    width: 100%;
}

.subscription-form input {
    max-width: 100%;
}

.subscription-block {
    position: relative;
    width: 50%;
}

.subscription-block img {
    position: absolute;
    object-fit: contain;
    margin-left: 1em;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.subscription-form__text p {
    color: white;
    font-size: 0.8rem;
}

.search-field{
  position: relative;
}

.search-field input{
  border-radius: 1px;
}
.search-submit{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
}
