.navbar-item {
    border-radius: 8px;
}
.navbar-item img {
    max-height: none !important;

    width: 120px;
    object-fit: contain;
}
.login-modal {
    display: flex;
}
.modal-card{
    border-radius: 5px;
}
.register-modal {
    display: none;
}
.delete {
    float: right;
    margin-left: auto;
}
.login-modal .field,
.register-modal .field {
    width: 70%;
}
