*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 16px;
    //font-family: "Lato", sans-serif;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container {
    height: 100%;
}
body{
  position: relative;
}
.vh{
  min-height: 60vh;
}
@media (max-width: 1022px){
  .container {
    padding: 0 .75rem;
  }
  .columns{
    margin-left: 0!important;
  }
}
